<div class="job-board-container">
  <h1>Job Source: <%= @job_source %></h1>
  <% if @jb_opps.length > 0 %>
    <%= react_component("JobBoardTable", { headers: @headers, rows: @jb_opps }) %>
  <% else %>
    <div style="margin: 0.5rem;">
      Sorry, this job source doesn't have any opportunities right now!
    </div>
  <% end %>
</div>